body {
  background:
    linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%)),
    linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  color: rgb(206, 151, 151);
  font-size: 16px;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 100%;
}

.text-content {
  padding: 1.5rem;
  text-align: center;
}

img {
  width: 100%;
}

div.logo img {
  width: 40%;
  padding: 1.5rem;
}

.comming-soon {
  margin-top: 2rem;
}

.comming-soon p {
  font-size: 2.3rem;
  font-weight: 400;
  color: hsl(0deg, 6%, 24%);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0;
}

input {
  width: 100%;
  text-align: start;
  padding: 1rem;
  background-color: transparent;
  border-radius: 25px;
  border-color: rgb(206, 151, 151);
  border-style: solid;
  border-width: 1px;
}

::placeholder {
  color: rgb(206, 151, 151);
}

button {
  border: none;
  background:
    url("../images/icon-arrow.svg"),
    linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  top: -48px;
  left: 140px;
  padding: 1.5rem 2rem;
  border-radius: 25px;
}

@media screen and (min-width: 756px) {
  .container {
    margin: auto;

    /* background-image: url("../images/bg-pattern-desktop.svg");
      background-repeat: no-repeat;
      background-size: auto; */
  }
}
